[submodule "Kits/DirectXTK"]
	path = Kits/DirectXTK
	url = https://github.com/jasonsandlin/DirectXTK.git
[submodule "Kits/cocos2d-x"]
	path = Kits/cocos2d-x
	url = https://github.com/cocos2d/cocos2d-x.git
